{% extends 'base.html' %}

{% block title %} Register a Blog Account {% endblock %}

{% block body %}
<form action="/register" method="post">
            First Name:<br>
    <input type="text" name ='first_name' required><br>
    Last Name:<br>
    <input type="text" name="last_name" required><br>
            Email:<br>
    <input type="text" name ='email' required><br>
            Phone:<br>
    <input type="text" name="phone" required><br>
        Create Username:<br>
    <input type="text" name="username" required><br><br>
    Create Password:<br>
    <input type="password" name="password" ><br><br>
     Confirm Password:<br>
    <input type="password" name="confirmed_password" ><br><br>
    <input type="submit" value="SUBMIT">
</form>

<h1 > {{info}} </h1>

{% endblock %}