<!Doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>User Registration Page</title>
</head>
<body bgcolor="orange">
<form action="/user" method="post">
     <h2></h2>First Name:<br>
    <input type="text" name ='first_name'><br>
    Last Name:<br>
    <input type="text" name="last_name" ><br>
        <h2></h2> Email:<br>
    <input type="text" name ='email'><br>
    Phone:<br>
    <input type="text" name="phone"  ><br><br>
    Create Username:<br>
    <input type="text" name="username" ><br><br>
    Create Password:<br>
    <input type="text" name="password" ><br><br>
     Confirm Password:<br>
    <input type="text" name="confirmed_password" ><br><br>
    <input type="submit" value="SUBMIT">
</form>

<h1 > {{info}}</h1>

</body>
</html>