<!Doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Your Page</title>
</head>
<body bgcolor="orange">


<form action="/create_post" method="POST">
        <h2>Create New Post</h2><br>
    <h3>Title:</h3>
    <input type="text" name ='title'><br>
    <h3>Type content here:</h3>
<!--    <input type="textarea" name ='body' rows="4" cols="50"><br>-->
    <textarea name='body' rows="4" cols="50">
    </textarea>
        <h3>Date:</h3>
    <input type="text" name ='date'><br>
    <input type="submit" value="POST">
</form>
{{ info }}
</body>
</html>