{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<h1>This is the HOME PAGE</h1>


{% for post in all_posts %}
<!--        {% for post in all_posts %}-->
                <br>
            <h2>First Name: {{ post[0] }}</h2>
            <h2>Last Name: {{ post[1] }}</h2>
            <h2>Title: {{ post[2] }}</h2>
            <h2>Content: {{ post[3] }}</h2>
            <h2>Date: {{ post[4] }}</h2>

                <br>
<!--        {% endfor %}-->
{% endfor %}

{% endblock %}