{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<h1>This is the HOME PAGE</h1>


{% for post in all_posts %}
<!--        {% for row in all_posts %}-->
                <br>
            <h2>First Name: {{ row[0] }}</h2>
            <h2>Last Name: {{ row[1] }}</h2>
            <h2>Title: {{ row[2] }}</h2>
            <h2>Content: {{ row[3] }}</h2>
            <h2>Date: {{ row[4] }}</h2>

                <br>
<!--        {% endfor %}-->
{% endfor %}

{% endblock %}