{% extends 'base.html' %}


{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-body">
            <form id="post" method="POST" action="/update" class="form-group" >
              <input type="text" name="new_title" placeholder={{old_title}} value="{{old_title}}" class="form-control"/>
              <br><br>
              <textarea name="new_post" class="form-control noresize mt-2" placeholder={{old_post}} rows="12">{{old_post}}</textarea>
              <br>
              <div class="row">
                <div class="col-md-2 ml-auto">
                  <button type="submit" class="btn btn-success col-md-12 mt-2">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}